{% extends "layout.html" %}

{% block content %}


<div class="row">
    <div class="col-lg-4 mb-lg-0 mb-4 "></div>
    <!-- Grid column -->
    <div class="col-lg-5 mb-lg-0 mb-4 mt-4">

      <!-- Form with header -->
    <form action="{% url 'mail' %}" method="post">
        {% csrf_token %}
  
        <div class="card">
            <div class="card-body">
            <!-- Header -->
            <div class="form-header ">
                <h3 class="mt-2"><i class="fas fa-envelope"></i> Write to us:</h3>
            </div>
            <p class="dark-grey-text">We'll write  as soon as possible.</p>
            <!-- Body -->
            <h3>goldenskailine@gmail.com</h3>
            </div>
        </div>
        <!-- Form with header -->
    </form>
    </div>

</div>

{% endblock %}